@media (min-width: 900px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        
        background: linear-gradient(rgb(255, 255, 255), #c88dff);
    }
    
    title, h1,h2 {
        font-family: 'poppins';
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    
    }
    
    legend {
        padding-top: 2em;
        margin-right: auto;
        font-family: 'poppins';
        font-weight: bold;
        font-size: medium;
        color: rgb(255, 255, 255);
    }
    
    fieldset{
        padding: 1rem;
        text-align: left;
        border-radius: 05;
        background-color: #49246b;
    }
    
    label {
        font-family: 'poppins';
        color: aliceblue;
    }
    
    .data {
        color: aqua;
    }
    input{
        
        border-radius: 05;
        
    }

    .button {
    font-size: 1.2em;
    background: #0b002e;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: relative;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }
    .button:hover {
        background: #20a80e;
        box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: none;
    }

    .button-reset{
    font-size: 1.2em;
    background: #0b002e;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: relative;
    top: 90%;
    left: 10em;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

    .button-reset:hover {
        background: #a8130e;
        box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: none;
    }
        
}




